@charset "UTF-8";

.slideshow {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.slideshow img {
    position: absolute;
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* JavsScript 無効時 */
.no-js .slideshow img:first-child {
    display: inline;
}
